<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../static/lib/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/lib/bootstrap/css/bootstrap.min.css">
    <script src="../static/lib/lightbox/lightbox.js"></script>
    <link rel="stylesheet" href="../static/lib/lightbox/lightbox.css">
    <script src="../static/js/script.js"></script>
    <script src="../static/js/save.js"></script> <!-- Наш код -->
    <link rel="stylesheet" href="../static/css/style_accountsPage.css">
    <title>Студенческие клубы АГУ</title>
</head>
<body>

<header>
    <img src="../static/images/asu-logo.png">
    <p>Астраханский государственный университет имени В.Н. Татищева</p>
    <div class="menu">
        <a href="/">
            <button>Главная</button>
        </a>
        <a href="/news.html">
            <button>Новости</button>
        </a>
        <a href="/clubs.html">
            <button>Клубы</button>
        </a>
        <a href="/entry.html"> <!-- Переход в личный кабинет -->
            <img src="../static/images/profile-user.png" alt="Профиль">
        </a>
    </div>
</header>

<div class="container">
    <label for="clubName">Название клуба:</label>
    <input type="text" id="clubName">

    <label for="clubLeader">Руководитель клуба:</label>
    <input type="text" id="clubLeader">

    <label for="clubDescription">Описание клуба:</label>
    <textarea id="clubDescription"></textarea>

    <div class="buttons">
        <button onclick="save()">Сохранить</button>
    </div>

    <div class="buttons">
        <a href="{{ url_for('get_applicationsClub_page', id=club.id) }}">
            <button id="application">Просмотреть заявки</button>
        </a>
    </div>

    <button class="return-button">Вернуться</button>
</div>

<footer>
    <p>Контакты: asu@mail.ru</p>
</footer>

<script>
    function save() {
        var clubName = document.getElementById('clubName').value;
        var clubLeader = document.getElementById('clubLeader').value;
        var clubDescription = document.getElementById('clubDescription').value;

        // Получаем id клуба из URL страницы
        var clubId = window.location.pathname.split('/').pop();

        fetch(`/clubs/${clubId}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                title: clubName,
                head: clubLeader,
                description: clubDescription
            })
        })
        .then(response => {
            if (response.ok) {
                alert('Информация о клубе успешно обновлена');
                window.location.href = '/clubs.html';  // Перенаправляем на страницу с клубами
            } else {
                response.json().then(data => {
                    alert(data['error']);  // Выводим сообщение об ошибке, если что-то пошло не так
                });
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }

    // Функция для возврата на предыдущую страницу
    document.querySelector('.return-button').addEventListener('click', () => {
        window.history.back();
    });
</script>

</body>
</html>
